html, body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', sans-serif
}
html {font-family: 'Trebuchet MS', sans-serif}
header {
    width: 100%;
    background: #1f1f1f;
}
#hamburger {
    display: none;
}
header p {
    font-family: Calibri, sans-serif;
    color:  #CF96FD;
    font-size: 24px;
    line-height:49px;
    float: left;
    padding: 0px 25px;
    background: #303030
}
nav ul {
    display: flex;
    justify-content:flex-end;
    max-width:1200px;
    margin: 0 auto;
    margin-right: 0px;
    padding: 0px 10px;
}
nav>ul li {
    list-style: none;
    position: relative;
    padding:15px 45px;
    transition: 0.5s;
    box-sizing: border-box;
    text-align: left;

}
nav>ul>li:hover {
    background: #303030
}
nav a {
    text-decoration: none;
    padding: 10px;
    color: #00a2ff;
    transition: 0.5s;
}

nav ul li ul {
    position: absolute;
    top: 49px;
    left: 0;
    background: #1f1f1f;
    display: block;
    width: 200px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
nav ul li:hover ul {
    opacity: 1;
    visibility: visible;
    background: #303030
}
@media only screen and (max-width: 640px) {
	header {
		position: relative;
        height: 50px;
        display: block;
        background-color: #1f1f1f;
        width: 100%;        

	}
	#hamburger {
		display: inline-block;
        padding-left: 20px;
        padding-top: 0px;
        width: 26px;
        float: left;
        font-size: 2em;
	}
	nav ul, nav:active ul {
		display: none;
		position: relative;
		top: 50px;
        width: 100%;
        background: #1f1f1f;
        margin-left: 0px;
			}
	nav:hover ul {
		display: block;
	}
    	nav:hover #mobileHide {
		display: block;
        background: #303030
	}

nav a {
    text-decoration: none;
    display:block;
    border-bottom: none;
    height: 15px;
    text-align: left;
}
	nav li {
		text-align: center;
		padding: 0;
		margin: 0;
        width: 100%;
	}
    nav>ul li {
    display: block;
    }
    nav ul li ul {
        width: 100%;
        z-index: 1;
    }
    header p {
        display: none
    }
}








