* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./background.png");
    background-color: #313131;
  }

h1 {
    padding: 20px;
    font-family: 'Trebuchet MS', sans-serif;
    color: #FFFFFF;
}

p { text-indent: -10px }
main p:first-line { text-indent: 0 }
main p::first-letter { color: rgb(255, 255, 255) }            

p {
    padding: 20px;
    font-family: 'Trebuchet MS', sans-serif;
    color: #bebebe
}
h2 {
    padding: 10px;
    font-family: 'Trebuchet MS', sans-serif;
    color: #FFFFFF;
}
footer{ 
    float: left;
	padding-bottom: 4px;
	padding-top: 4px;
	text-align: center;
	bottom: -4px;
	width: 100%;
}
blockquote {
    color: white
}
center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
}
div.a {
    text-align: center;
}
  
  div.b {
    text-align: left;
}
  
  div.c {
    text-align: right;
} 
  
  div.d {
    text-align: justify;
} 
  footer {
    position: fixed;
    bottom: 0;
  }